html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Makes it take all remaining space */
    display: flex;
    justify-content: center; /* Center canvas horizontally */
    align-items: center; /* Center canvas vertically */
    width: 100%;
    height: calc(100vh - 23vh); /* Subtract header & sub-header height */
    min-height: 300px; /* Ensure it never collapses */
}

canvas {
    display: block;
    background-color: black;
}

button {
    /* background-color: #EA4C89; */
    background: rgb(117,251,250);
    background: linear-gradient(90deg, rgba(117,251,250,1) 0%, rgba(119,161,255,1) 52%, rgba(226,166,250,1) 100%);
    border-radius: 8px;
    box-sizing: border-box;
    color: #000000;
    display: inline-block;
    font-family: "Shrikhand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: absolute;
    text-align: center;
    transition: color 100ms;
}

.button:hover,
.button:focus {
    background-color: #F082AC;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(82,93,233);
    background: linear-gradient(90deg, rgba(82,93,233,1) 0%, rgba(201,100,223,1) 52%, rgba(244,176,233,1) 100%);
    padding: 20px 10px;
    margin: 0;
    padding: 0;
    height: 15vh; /* Sets viewport height */
}

.game-title {
    color: white;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.sparkleimg{
    height: 75px;
    width: 100px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 20px 10px;
    margin: 0;
    padding: 0 30px;
    height: 8vh; /* Sets viewport height */
}

#score, #life {
    display: flex;
    align-items: center;
    gap: 20px; /* Creates space between text and value */
    min-width: 180px;
    font-weight: bold;
    font-size: 1.5em;
}

#score-content {
    min-width: 80px; 
    text-align: right;
    gap: 10px;
}

#life-content {
    min-width: 100px;
    display: flex;
    gap: 5px;
}

#life-content img{
    width: 30px;
    height: 30px;
}

/* fonts */
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}